body{
  background-color: Purple;
}

img{
  max-width: 25%;
  max-height: 25%;
}

.imgcenter{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.button-container{
  display: flex;
  justify-content: center;
  
  align-items: center;
  flex-direction: column;
}
